@model MvcLibrary.Models.Reservation

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<h2>Do you want to checkout this book to "@Html.DisplayFor(model => model.UserName)"?</h2>

<hr />
<form asp-asp-controller="Checkouts" asp-action="Checkout">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Checkout" class="btn btn-danger" />
    <a asp-area="" asp-controller="Books" asp-action="Index">Back to List</a>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
